body {
/*   background-color:	#b6d7a8; */
  background-color:	#99cccc;
  margin: 0px;
}
textarea {
  padding: 15px;
}
input {
  padding: 15px;
}
select {
  padding: 15px;
  width: 500px;
}
li {
  color: white;
  font-size: 25px;
}
#product-input {
  width: 365px;
}
#order-table .product-tr:hover {
  opacity: 0.9;
}
#display-codes-button {
  position: relative;
  top: -25px;
}
#clear-all-button {
  position: relative;
  top: -25px;
}
#botsend {
  position: relative;
  top: -25px;
  background-color: #6aa84f;
  border: none;
  color: white;
}
#botsend:hover {
  background-color: #38761d;
}
table {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  max-width: 1200px;
  color: #686461;
  margin: auto;
  
}
#order-table caption {
  padding: 10px;
  color: white;
  background: #8FD4C1;
  font-size: 10px;
  text-align: left;
  font-weight: bold;
}
#copy-textarea {
  width: 300px;
}
th {
  border-bottom: 3px solid #B9B29F;
  padding: 10px;
  text-align: left;
}
td {
  padding: 10px;
}
#order-table tr:nth-child(odd) {
  background: white;
}
#order-table tr:nth-child(even) {
/*   background: #fffdd0; */
  background: #ffffcc;
}
.comparing-same-tr {
  background: white;
}
.comparing-changed-tr {
  background: yellow;
}
.comparing-old-tr {
  background: #dedbd1;
}
.comparing-deleted-tr {
  background: #ff8b94;
}
.comparing-new-tr {
  background: #5cfa58;
}
#products-string-textarea {
  width: 300px;
}
#admin-panel {
  margin: 15px auto;
  padding: 10px;
  border: 1px solid white;
  display: none;
}
#change-calc {
  margin: 15px auto;
  padding: 10px;
  display: none;
}
#sale-input {
  width: 30px;
}
.amount-input {
  width: 36px;
}